* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    /* transition: all 0.8s linear; */
}

body {
    width: 100%;
    height: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
    /* background-color: #000; */
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; */
}

#tittleh1 {
    margin-top: 1%;
    width: 100%;
    text-align: center;
}

section {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

article {
    padding: 1.5%;
    width: max-content;
    background-color: darkgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4%;
    background: rgb(2, 0, 36);

    background: radial-gradient(circle,
            rgb(0, 34, 52) 75%,
            rgba(0, 26, 60, 1) 85%,
            rgb(0, 69, 83) 100%);

    /* background: radial-gradient(circle,
            rgba(2, 0, 36, 1) 81%,
            rgba(0, 26, 60, 1) 91%,
            rgba(0, 67, 80, 1) 100%); */
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11),
        0 2px 2px rgba(0, 0, 0, 0.11),
        0 4px 4px rgba(0, 0, 0, 0.11),
        0 8px 8px rgba(0, 0, 0, 0.11),
        0 16px 16px rgba(0, 0, 0, 0.11),
        0 32px 32px rgba(0, 0, 0, 0.11);
    /* overflow: hidden; */
}

/* No hace nada */
/* button {
    width: 100%;
    height: 100%;
    border-radius: 50% 50% !important;
} */

.calculadora button.btn {
    /* width: 100%;
    height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;

    color: #f1f1f1;
    font-weight: 600;
    font-size: large;

    border-radius: 45%;
    background-color:rgb(0, 89, 89);
    border: 1px solid rgb(5, 56, 56);

}

/* Quiero hacer lacalculadora un poquete mas ancha
y no se que parametro tocas */
.carcasa {
    width: max-content;
    padding: 0% 2.4%;
}

.calculadora {
    /* Uso este margin para centrar un poco los 
    botones de la carcasa */
    margin-bottom: 3%;
    margin-right: 2%;
    padding: 12% 90%;
    /* height: 30; */
    display: grid;
    grid-template: 4rem 3rem repeat(5, 4rem)/repeat(4, 4rem);
    /* La idea es hacer los botones redondo, por eso quiero separacion...
    Pero no tengo cojones a lograrlo... */
    grid-gap: 1% 2%;

}


.calculadora .pantalla {
    width: 100%;
    padding: 2% ;
    grid-column: -1/-5;
    text-align: end;
    background-color: rgba(42, 42, 42, 0.495);
    color: #bebbbb;
    overflow: hidden !important;
    border: 1px solid #5c5c5c69;

}


#primaria {
    background-color: rgba(15, 15, 15, 0.495);
    color: azure;
    font-weight: 700;
    font-size: large;
    border-bottom-style: none;
}

#secundaria{
    border-top-style: none;
}

.secundaria {
    grid-row-start: 2;
}

.operator{
    
    background-color: #da9c1f   !important;
}

#clear {
    grid-column: 1/3;
    border-radius: 70% 5% 5% 4%;
}
.igual {
    grid-column: span 2;
    border-radius: 6% 5% 5% 60% !important;
    /* background-color: red; */
}

.calculadora .btn:hover,
.calculadora .btn::selection {
    /* transition: all .3s ease-in-out; */
    transform: scale(1.04);
    text-shadow: #d3d3d3 0px 1px 7px;
    user-select: none;

}

.calculadora .number:hover{
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07),
    0 2px 4px rgba(0, 236, 253, 0.386),
    0 4px 8px rgba(0, 236, 253, 0.228);
}

.calculadora .operator:hover{
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07),
    0 2px 4px rgba(199, 254, 0, 0.386),
    0 4px 8px rgba(199, 254, 0, 0.228);
}

.calculadora .btn:active{
    transform: scale(.9);
}

h1#tittleh1:hover,
h1#tittleh1::selection{
    text-shadow: #d3fffe 0px 0px 8px;
    cursor: pointer;
    background: none;
    user-select: none;
}

h1#tittleh1:active{
    transform: scale(.9);
    
}